body {
  margin: 0;

}
.banner{
  margin-top: 3vw;
  width: 100%;
  height: 200px;
  position: absolute;
  z-index: -1;
}
.introduction{
  width: 900px;
  height: 600px;
  /* background-color:green; */
  margin:20px 0px 0px 270px;
  display: flex;
  flex-direction: row;
  z-index: 1;
}
.banner2{
  width: auto;
  height: 100px;
  /* background-color: #0BD3FF; */
  padding : 0;
  margin-top: 10px;
  line-height : 0px;
}
#hello{
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  background-color: inherit;
}
#nice{
  font-size: 40px;
  font-family: 'Ubuntu', sans-serif;
  color:black;
}
.leftside{
  margin: left;
  margin-top: 10vw;
  width: 50%;
  height: 500px;
  /* background-color: grey; */
  text-shadow: 1px 0px grey;
  flex: 1;
}
.rightside{
  margin-right: auto;
  margin-left: 20px;
  width: 400px;
  height: 650px;
  /* background-color: yellow; */
  flex: 1;
}
#gambar{
  margin-left: 0px;
  margin-top: 70px;
}
#age{
  margin-left: 60px;
  margin-top: 50px;
}
#intro{
  font-size: 40px;
  text-align: center;
  font-family: 'Arimo', sans-serif;
}
.nama{
  padding : 0;
  margin : 0;
  line-height : 0px;
}
#irham{
  font-weight: normal;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
}
#noun{
  font-size: 30px;
  font-family: 'Ubuntu Mono', sans-serif;
  font-style: italic;
  color: darkgrey;
}
#desc{
  width: 60%;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
}
.skillset{
  margin: 10vw auto;
  height: 100px;
  width: 440px;
  /* background-color: grey; */
}
hr{
    display: inline-block;
    height: 2px;
    width: 60px;
    border: 0;
    margin: 1em 0;
    padding: 0;
}
#blackline{
    border-top: 2px solid black;
}
.lets{
	  display: inline-block;
    font-size: 35px;
    font-family: 'Arimo', sans-serif;
    text-shadow: 1px 0px grey;
    font-weight: lighter;
    }
.bg2{
  width: 100%;
  height: 1400px;
  background-color: #0BD3FF;
}
.white{
  width: 100%;
  height:170px;
  background-color: white;
}
.skill{
  width: 650px;
  height: 300px;
  padding: 20px;
  margin: 50px auto;
  border: 4px red;

}
.currtext{
  margin-top: 270px;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 510px;
}
.doing{
  display: inline-block;
  font-size: 35px;
  font-family: 'Arimo', sans-serif;
  text-shadow: 1px 0px grey;
  font-weight: lighter;
}
#doingt{
  color: white;
}
#whiteline{
  border-top: 2px solid white;
}
.box_ui{
  margin: 50px auto 0px auto;
  width: 550px;
  height: 150px;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
}
.info_ui1 {
  width: 100%;
  height: 100%;
  flex: 1;
  background-color: white;
  border: 1px solid yellow;
  border-radius: 20px;
}

.info_ui2 {
  width: 100%;
  height: 100%;
  flex: 2;
  padding-left: 20px;
  background-color: white;
  border: 1px solid yellow;
  border-radius: 20px;
}
#ui_text{
  margin: 15px 20px 20px 20px;
  font-family: 'Arimo', sans-serif;
  text-shadow: 1px 0px grey;
}
#makara{
  margin: 15px auto auto 30px;
}

.box_compfest{
  margin: 50px auto 0px auto;
  width: 550px;
  height: 150px;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
}
.info_compfest2 {
  width: 100%;
  height: 100%;
  flex: 1;
  background-color: black;
  border-radius: 20px;
  border: 1px solid white;
}

.info_compfest1 {
  width: 100%;
  height: 100%;
  flex: 2;
  padding-left: 20px;
  border: 1px solid white;
  background-color: black;
  border-radius: 20px;
}
#compfest_text{
  margin: 15px 20px 20px 20px;
  font-family: 'Arimo', sans-serif;
  text-shadow: 1px 0px grey;
  color: white;
}
#kompes{
  margin: 20px 10px 20px 15px;
}

.box_sistem{
  margin: 50px auto 0px auto;
  width: 550px;
  height: 150px;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
}
.info_sistem1 {
  width: 100%;
  height: 100%;
  flex: 1;
  background-color:#EFB783;
  border: 1px solid white;
  border-radius: 20px;
}

.info_sistem2 {
  width: 100%;
  height: 100%;
  flex: 2;
  background-color:#EFB783;
  padding-left: 20px;
  border: 1px solid white;
  border-radius: 20px;
}
#sistem_text{
  margin: 15px 20px 20px 20px;
  font-family: 'Arimo', sans-serif;
  text-shadow: 1px 0px grey;
}
#sistem{
  margin: 15px auto auto 30px;
}
.achievement{
  margin-top: 150px;
  margin-left: 400px;
  margin-right: auto;
  height: 100px;
  width: 510px;
}
#done{
  color: white;
}
.bg3{
  width: 100%;
  height: 700px;
  background-color: white;
}
.ivedone{
  margin: 60px auto auto auto;
  width: 50%;
  height: 550px;
  padding-bottom: : 20px
}
.kodu{
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: row;
}
#picachievement{
  margin: 10px 5px 10px 15px;
  flex: 1;
  text-shadow:
}
.textachievement{
  margin: 5px 30px 20px 20px;
  flex: 2;
}
#achievementtitle{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
}
#achievementtext{
  font-family: 'Arimo', sans-serif;
  font-size: 15px;
}
#achievementrank{
  font-weight: bold;
}
.uneev{
  margin-top: 30px;
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: row;
}
.nata{
  margin-top: 30px;
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: row;
}
.bg4{
  width: 100%;
  height: 600px;
  background-color: #0BD3FF;
}
.blue{
  width: 100%;
  height: 100px;
  background-color: white;
}
.quote{
  width: 60%;
  height: 150px;
  padding: 20px;
  margin: 5px auto;
  background-color: #293347 ;
}
.quoteframe{
  padding : 0;
  width: 100%;
  height: 100%;
  line-height : 0px;
}
#quotext{
  color: white;
  font-size: 55px;
  font-family: 'Mukta', sans-serif;
  text-align: center;
}
#quotext2{
  color: white;
  font-size: 30px;
  font-family: 'Mukta', sans-serif;
  text-align: center;
}
.contactme{
  width: 80%;
  height: 200px;
  margin: 250px auto auto auto ;
  display: flex;
  flex-direction: row;
}
.likewhatyousee{
  width: 90%;
  height:100%;
  flex: 1;
  margin-top: 20px;
}
#textitle{
  font-family: 'Mukta', sans-serif;
  font-size: 40px;
  text-align: center;
}
#textlike{
  font-family: 'Mukta', sans-serif;
  font-size: 30px;
  text-align: center;
}
.logocontact{
  width: 100%;
  height: 100%;
  flex: 1;
}
.contactbox{
  width: 100%;
  height:75px;
  margin-top:50px;
  display:inline-block;
}
#logo{
  margin-left: 20px;
}
.background{
  width: 100%;
  height: 100px;
  position: absolute;
