{% extends 'baseline.html' %}
{% block content %}
<div class="banner" id="top">
  <img src="https://i.ibb.co/tB9NcQ1/banner.png" width="100%" height="200px">
</div>
<div class= "introduction">
  <div class = leftside>
    <div class="banner2">
      <div class="containhello">
        <p id="hello"> HELLO THERE!</p>
      </div>
    </div>
    <p id="intro">Let me introduce myself</p>
    <pre ><span id="irham">Irham \ɪ(r)·həm\</span>
<span id="noun">noun.</pre>
    <p id="desc">Lorem ipsum dolor sit amet et delectus accommodare his consul
      copiosae legendos. Vidit dissentiet eos cu eum an brute copiosae hendrerit.
      Eos erant dolorum los meso en tuag hu mansae kira tuh awewsmae </p>
  </div>
  <div class="rightside">
    <div>
      <img id= "gambar" src="https://i.ibb.co/FWbg8Dd/550761-2.jpg"  alt="Irham" width="320" height="320">
      <img id= "age" src="https://i.ibb.co/XFPq860/Group-info.jpg" width="170px" height="130px">
    </div>
  </div>
</div>
<div class="skillset">
  <hr id="blackline"/>
  <div class="lets">
    <p>Let's see my skillset </p>
  </div>
  <hr id="blackline"/>
</div>
<div class="bg2">
  <div class="white">
    <div class="skill">
      <img src="https://i.ibb.co/M2NYp1Q/table.png" width="100%">
    </div>
  </div>
  <div class="currtext">
    <hr id="whiteline"/>
    <div class="doing">
      <p id="doingt">What i'm currently doing</p>
    </div>
    <hr id="whiteline"/>
  </div>
  <div class="box_ui">
    <div class="info_ui1">
      <img id="makara" src="https://i.ibb.co/S7WxvYZ/Makara-UI.png" width="120px" height="120px">

    </div>
    <div class="info_ui2">
      <p id="ui_text">Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. In felis lobortis id diam pellentesque vulputate.
        Integer est commodo mattis est, nibh in. Eu ornare mauris eu nullam
        iaculis in morbi.</p>
    </div>
  </div>
  <div class="box_compfest">
    <div class="info_compfest1">
      <p id="compfest_text">Lorem ipsum dolor sit amet, consectetur adipiscing
         elit. In felis lobortis id diam pellentesque vulputate.
         Integer est commodo mattis est, nibh in. Eu ornare mauris eu nullam
         iaculis in morbi.</p>
    </div>
    <div class="info_compfest2">
      <img id="kompes" src="https://i.ibb.co/nPtrwFN/pwl0-EZq7-400x400.png" width="160px" height="110px">
    </div>
  </div>
  <div class="box_sistem">
    <div class="info_sistem1">
      <img id="sistem" src="https://i.ibb.co/SPLWhzP/sistem.png" width="120" height="120">
    </div>
    <div class="info_sistem2">
      <p id="sistem_text">Lorem ipsum dolor sit amet, consectetur adipiscing
         elit. In felis lobortis id diam pellentesque vulputate.
         Integer est commodo mattis est, nibh in. Eu ornare mauris eu nullam
         iaculis in morbi.</p>
    </div>
  </div>
  <div class="achievement">
    <hr id="whiteline"/>
    <div class="doing">
      <p id="done">Here's what i've done</p>
    </div>
    <hr id="whiteline"/>
  </div>
</div>
<div class="bg3">
  <div class="ivedone">
    <div class="kodu">
      <img id="picachievement" src="https://i.ibb.co/2k1QzvL/IVwrux70-400x400.png" width="100px" height="160px">
      <div class="textachievement">
        <p id="achievementtitle">Kodu Gamelab Competition </p>
        <p id="achievementtext"><span id="achievementrank">Semi-Finalist</span>, consectetur adipiscing
          elit. In felis lobortis id diam pellentesque vulputate.
          Integer est commodo mattis est, nibh in. Eu ornare mauris eu nullam
          iaculis in morbi.</p>
        </div>
      </div>
    <div class="uneev">
      <img id="picachievement"src="https://i.ibb.co/0qpC6yZ/IVwrux70-400x400-1.png" width="70px" height="160px">
      <div class="textachievement">
        <p id="achievementtitle">Uneev </p>
        <p id="achievementtext"><span id="achievementrank">Finance</span>, consectetur adipiscing
          elit. In felis lobortis id diam pellentesque vulputate.
          Integer est commodo mattis est, nibh in. Eu ornare mauris eu nullam
          iaculis in morbi.</p>
        </div>
    </div>
    <div class="nata">
      <img id="picachievement" src="https://i.ibb.co/GkcCyWS/IVwrux70-400x400-3.png" width="100px" height="160px">
      <div class="textachievement">
        <p id="achievementtitle">Nata ID </p>
        <p id="achievementtext"><span id="achievementrank">Programmer</span>, consectetur adipiscing
          elit. In felis lobortis id diam pellentesque vulputate.
          Integer est commodo mattis est, nibh in. Eu ornare mauris eu nullam
          iaculis in morbi.</p>
        </div>
    </div>
  </div>
</div>
<div class="bg4">
  <div class="blue">
    <div class="quote">
      <div class="quoteframe">
        <h2 id="quotext">I'm a Simple Man</h2>
        <p id="quotext2">I Like Pretty Dark Haired Woman, and Breakfast Food</p>
      </div>
    </div>

  </div>
  <div class="contactme">
    <div class="likewhatyousee">
      <h3 id="textitle">Like what you see? </h3>
      <h4 id="textlike">Let us meet and talk about</h4>
      <p id="textlike">things over a cup of coffee </p>
    </div>
    <div class="logocontact">
      <div class="contactbox">
        <a href="http://line.me/ti/p/~irhamzh"><img id="logo" src="https://i.ibb.co/vxNJs9B/fa-brands-line.png" width:"75px" height="75px"></a>
        <a href="https://www.facebook.com/zavier.ilman"><img id="logo" src="https://i.ibb.co/dBd1fFk/ant-design-facebook-fill.png" width="75px" height="75px"></a>
        <a href="https://www.instagram.com/irhamzh/"><img id="logo" src="https://i.ibb.co/jbMP0WJ/Vector.png" width="75px" height="75px"></a>
        <a href="https://www.linkedin.com/in/irham-z-9a3785131/"><img id="logo" src="https://i.ibb.co/JHmLh7x/ant-design-linkedin-fill.png" width="75px" height="75px"></a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
