<nav class="navbar fixed-top navbar-expand-md"  >
  <div class = "container-fluid">
    <a href="home">Home</a>
    <a class="nav navbar-nav navbar-left" href="gallery">Gallery</a>
    <a class="nav navbar-nav navbar-right" href="kegiatan">Activity Form</a>
  </div>
</nav>
